<nav class="navbar navbar-expand navbar-dark bg-dark shadow rounded-bottom" style="">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{% url 'home' %}">Renzo Adriano Rodriguez</a>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if pagina_actual == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if pagina_actual == 'proyectos' %}active{% endif %}" href="{% url 'proyectos' %}">Albums</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

