body {
    background: rgb(28,40,51);
    background: linear-gradient(180deg, rgba(28,40,51,1) 0%, rgba(28,28,28,1) 90%); 
    color: white;
    padding-top: 55px;
    font-family: monospace;
}

.carousel-item {
    background: #1c1c1c;
    height: 92vh;
}

.footer-div {
    background: #1c1c1c;
}

.home:hover:before {
    content:"[Home]";
}

.home:hover span {
    display: none;
}

.proyectos:hover:before {
    content:"[Proyectos]";
}

.proyectos:hover span {
    display: none;
}