{% extends 'layouts/base.html' %}

{% block title %}Proyectos 📽️{% endblock title %}Proyectos

{% block content %}
<h1>La pagina de los proyectos</h1>

<p>Napoleón Bonaparte, líder militar y político francés del siglo XIX, emergió durante la Revolución Francesa. Ascendió rápidamente en el ejército y se proclamó Emperador en 1804. Su gobierno impulsó reformas legales y administrativas, conocidas como el Código Napoleónico. Conquistas militares expandieron su imperio por Europa, pero en 1812, la invasión de Rusia marcó su declive. Tras la derrota en la Batalla de Waterloo en 1815, fue exiliado a la isla de Santa Elena, donde murió en 1821. Su legado perdura en el sistema legal, reformas y la transformación de Europa, con un impacto duradero en la historia mundial.</p>
{% endblock content %}